<!--ví dụ: component: logo, các con bên trong componen logo__title logo__img-->
<div class="top-bar">
    <div class="logo">
        <img
            src="./assets/icons/logo.svg"
            alt="grocerymart"
            class="logo__img"
        />
        <h1 class="logo__title">grocerymart</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li>
                <a href="" class="navabar__link">
                    Department
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt="arrow down"
                        class="navbar__arrow"
                    />
                </a>
            </li>
            <li>
                <a href="" class="navabar__link">
                    Grocery
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt="arrow down"
                        class="navbar__arrow"
                    />
                </a>
            </li>
            <li>
                <a href="" class="navabar__link">
                    Beauty
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt="arrow down"
                        class="navbar__arrow"
                    />
                </a>
            </li>
        </ul>
    </nav>
</div>
